* {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.overlay-bg {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	cursor: pointer;
	z-index: 1000;
	background: #000;
	background: rgba(0, 0, 0, 0.75);
}

.overlay-content {
	display: none;
	background: #fff;
	padding: 1%;
	width: 70%;
	position: absolute;
	top: 15%;
	left: 35%;
	margin: 20% -20% 0 -20%;
	z-index: 10001;
	border-radius: 4px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.close-btn {
	border: 1px solid #333;
	padding: 2% 5%;
	background: #003c77;
	border-radius: 2px;
	color: #fdb913;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.close-btn:hover {
	background: #fdb913;
	color: #003c77;
}

@media only screen and (min-width: 0px) and (max-width: 480px) {

	.overlay-content {
		width: 96%;
		margin: 0 2%;
		left: 0;
	}
}