.bold {
  font-weight: bold;
}
#entry {
  width: 100%;
  height: 80vh;
  background-image: url(/assets/images/wave.svg);
  background-repeat: no-repeat;
  background-position: bottom;
}
.invert {
  filter: invert();
}
.invert:hover {
  background-color: transparent;
}
.theme-blue {
  color: #003c77;
}
.theme-yellow {
  color: #fdb913;
}
.theme-background-blue {
  background: #003c77;
}
.theme-background-yellow {
  background: #fdb913;
}
.dropdown-image {
  height: 56px;
  width: auto;
}
.shadow-sm,
.btn {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}
.display-7 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
}
.d-sm-block {
  display: block !important;
}
.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.shadow-sm,
.btn {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}
.nav-item > .btn {
  box-shadow: none !important;
}
address > a {
  text-decoration: none;
  border-bottom: 2px dotted;
}
.set-width {
  width: 80%;
}
#calendar {
  width: 100%;
  height: 80vh;
  background-image: url(/assets/images/wave-bottom.svg);
  background-repeat: no-repeat;
  background-position: top;
}
.rounded-md {
  border-radius: 6px;
}
